body {
    font-size: 20px;
}
h1 {
    font-size: 20px;
}

.jiacu {
    font-weight: 700;
    color: #11e840;
    text-decoration: line-through;

}

.normal {
    font-weight: normal;
    text-align: right;
}

.style {
    font-style: italic;
}

.fuhe {
    font: italic 700 16px '黑体' ;
}
a {
    text-decoration: none;
}

p {
    /* text-indent: 20px; */
    text-indent: 2em;
    line-height: 30px;
}